<div id="banner">

<div *ngIf="physhowCourse" class="physicsCourse">
   
 <a class="pdf" href="https://byjus.com/ncert-solutions-class-12-physics/" target="blank">GO TO CONTENT</a>

    
</div>



<div *ngIf="cheshowCourse" class="ChemistryCourse">
 
 <a class="pdf" href="https://byjus.com/ncert-solutions-class-12-chemistry/" target="blank">GO TO CONTENT</a>
</div>



<div *ngIf="mathshowCourse" class="MathsCourse">
 
 <a class="pdf" href="https://byjus.com/ncert-solutions-class-12-maths/" target="blank">GO TO CONTENT</a>
</div>



<div *ngIf="javashowCourse" class="JavaCourse">
    <div class="view">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/UmnCZ7-9yDY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
 <a class="pdf" href="/assets/images/java.pdf" target="blank">OPEN PDF</a>
</div>



<div *ngIf="htmlshowCourse" class="HtmlCourse">
    <div class="view">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/BsDoLVMnmZs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div>
 <a class="pdf" href="/assets/images/html.pdf" target="blank">OPEN PDF</a>
</div>



<div *ngIf="cssshowCourse" class="CssCourse"><div class="view">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Edsxf_NBFrw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<a class="pdf" href="/assets/images/css.pdf" target="blank">OPEN PDF</a></div>



<div *ngIf="jsshowCourse" class="JavaScriptCourse">
    <div class="view">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/hKB-YGF14SY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
 <a class="pdf" href="/assets/images/javascript.pdf" target="blank">OPEN PDF</a>
</div>




</div>
