*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }
    .hero{
    height: 100%;
    width: 100%;
    background-image: url("\src\assets\images\background.jpg");
    /* background-color: rgb(0, 140, 255); */
    z-index: 1;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    position: absolute;
    }
    .form-box{
    width: 380px;
    height: 450px;
    position: relative;
    margin: 6% auto;
    /* background: #fff; */
    padding: 5px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.865);
    border-radius: 10px;
 
    }
    .button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #24a7ff49;
    border-radius: 30px;
    }
    .toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    }
    #btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #2193b0 ,#6dd5ed);
    border-radius: 30px;
    transition: .5s;
    }
    .input-group{
        top: 100px;
        position: absolute;
        width: 280px;
        transition: .5s;

    }
    .input-field{
        width: 100%;
        padding: 10px 0;
        margin: 5px 0;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid #999;
        outline: none;
        background: transparent;
    }
    .submit-btn{
        width: 85%;
        padding: 10px 30px;
        cursor: pointer;
        display: block;
        margin: 20px auto;
        background: linear-gradient(to right, #2193b0 ,#6dd5ed);
        border: 0;
        outline: none;
        border-radius: 30px;
    }
    .chech-box{
        margin: 30px 10px 30px 0;

    }
    span{
        color:#777;
        font-size: 12px;
        bottom: 68px;
        position: absolute;

    }
    #login{
        left: 50px;
    }
    #register{
        left: 450px;
    }
    div.message{
        text-align: center;
        color: red;
    }
    #forgot{
        padding: 10px 0px;
    }
    #aforgot{
        text-decoration: none;
        color: black;
    }
    #aforgot:hover{
        color: #0c718a;
    }