<div class="banner" id="banner"></div>
<div class="middlepannel" id="middlepannel">
  <div id="topic">&nbsp; PREPARE FOR YOUR ACADEMICS</div>
  <div class="middlebox" id="physics">
    <img class="courses" src="/assets/images/physics.jpg" alt="" height="185px" width="240px" />
    <a [routerLink]="['/content']" (click)="physics()" class="btn">PREPARE</a>
  </div>
  <div class="middlebox" id="chemistry">
    <img class="courses" src="/assets/images/chemistry.jpg" alt="" height="185px" width="240px" />
    <a [routerLink]="['/content']" (click)="chemistry()" class="btn">PREPARE</a>
  </div>
  <div class="middlebox" id="maths">
    <img class="courses" src="/assets/images/maths.jpg" alt="" height="185px" width="240px" />
    <a [routerLink]="['/content']" (click)="maths()" class="btn">PREPARE</a>
  </div>
</div>
<div class="downpannel" id="downpannel">
  <div id="topic2">&nbsp; START YOUR CODING JOURNEY</div>
  <div class="downbox" id="java">
    <img class="courses" src="/assets/images/java.jpg" alt="" height="185px" width="200px" />
    <a [routerLink]="['/content']" (click)="java()" class="btn">PREPARE</a>
  </div>
  <div class="downbox" id="html">
    <img class="courses" src="/assets/images/html.jpg" alt="" height="185px" width="200px" />
    <a [routerLink]="['/content']" (click)="html()" class="btn">PREPARE</a>
  </div>
  <div class="downbox" id="css">
    <img class="courses" src="/assets/images/css.jpg" alt="" height="185px" width="200px" />
    <a [routerLink]="['/content']" (click)="css()" class="btn">PREPARE</a>
  </div>
  <div class="downbox" id="javascript">
    <img
      class="courses"
      src="/assets/images/javascript.jpg"
      alt=""
      height="185px"
      width="200px"
    />
    <a [routerLink]="['/content']" (click)="javascript()" class="btn">PREPARE</a>
  </div>
</div>
