<div class="banner" id="banner">
  <div class="bannertext" id="bannertext">
    <h3>WELCOME TO EDUBEE. GET YOURSELF PREPARED FOR FUTURE...</h3>
    <a href="" class="bannerbtn" id="bannerbtn1">PREPARE</a>
    <a [routerLink]="['/assesment']" href="" class="bannerbtn" id="bannerbtn2"
      >TAKE QUIZ</a
    >
  </div>
</div>
<div class="middlepannel" id="middlepannel">
  <div id="topic">&nbsp; PREPARE FOR YOUR ACADEMICS</div>
  <div class="middlebox" id="class10">
    <img class="courses" src="" alt="" height="185px" width="240px" />
    <a href="" class="btn">PREPARE</a>
  </div>
  <div class="middlebox" id="class12">
    <img class="courses" src="" alt="" height="185px" width="240px" />
    <a href="" class="btn">PREPARE</a>
  </div>
  <div class="middlebox" id="Quiz">
    <img class="courses" src="" alt="" height="185px" width="240px" />
    <a href="" class="btn">TAKE QUIZ</a>
  </div>
</div>
<div class="downpannel" id="downpannel">
  <div id="topic2">&nbsp; START YOUR CODING JOURNEY</div>
  <div class="downbox" id="java">
    <img class="courses" src="java.png" alt="" height="185px" width="200px" />
    <a href="" class="btn">PREPARE</a>
  </div>
  <div class="downbox" id="html">
    <img class="courses" src="html.png" alt="" height="185px" width="200px" />
    <a href="" class="btn">PREPARE</a>
  </div>
  <div class="downbox" id="css">
    <img class="courses" src="css.png" alt="" height="185px" width="200px" />
    <a href="" class="btn">PREPARE</a>
  </div>
  <div class="downbox" id="javascript">
    <img
      class="courses"
      src="javascript.png"
      alt=""
      height="185px"
      width="200px"
    />
    <a href="" class="btn">PREPARE</a>
  </div>
</div>
