<div id="banner">
  <div class="heading" id="heading">TAKE ASSESSMENT</div>
  <div class="mainbox">
    <div class="assessment" id="physics">PHYSICS</div>
    <a href="" class="btn">ATTEND</a>
  </div>
  <div class="mainbox">
    <div class="assessment" id="chemistry">CHEMISTRY</div>
    <a href="" class="btn">ATTEND</a>
  </div>
  <div class="mainbox">
    <div class="assessment" id="maths">MATHS</div>
    <a href="" class="btn">ATTEND</a>
  </div>
  <div class="mainbox">
    <div class="assessment" id="java">JAVA</div>
    <a href="" class="btn">ATTEND</a>
  </div>
  <div class="mainbox">
    <div class="assessment" id="html">HTML</div>
    <a href="" class="btn">ATTEND</a>
  </div>
  <div class="mainbox">
    <div class="assessment" id="css">CSS</div>
    <a href="" class="btn">ATTEND</a>
  </div>
  <div class="mainbox">
    <div class="assessment" id="javascript">JAVASCRIPT</div>
    <a href="" class="btn">ATTEND</a>
  </div>
</div>
