<div id="banner">
  <div class="heading" id="heading">TAKE ASSESSMENT</div>
  <div class="mainbox">
    <div class="assessment" id="physics">PHYSICS</div>
    <a [routerLink]="['/questions']" (click)="physics()" class="btn">ATTEND</a>
  </div>
  <div class="mainbox">
    <div class="assessment" id="chemistry">CHEMISTRY</div>
    <a [routerLink]="['/questions']" (click)="chemistry()" class="btn">ATTEND</a>
  </div>
  <div class="mainbox">
    <div class="assessment" id="maths">MATHS</div>
    <a [routerLink]="['/questions']" (click)="maths()" class="btn">ATTEND</a>
  </div>
  <div class="mainbox">
    <div class="assessment" id="java">JAVA</div>
    <a [routerLink]="['/questions']" (click)="java()" class="btn">ATTEND</a>
  </div>
  <div class="mainbox">
    <div class="assessment" id="html">HTML</div>
    <a [routerLink]="['/questions']" (click)="html()" class="btn">ATTEND</a>
  </div>
  <div class="mainbox">
    <div class="assessment" id="css">CSS</div>
    <a [routerLink]="['/questions']" (click)="css()" class="btn">ATTEND</a>
  </div>
  <div class="mainbox">
    <div class="assessment" id="javascript">JAVASCRIPT</div>
    <a [routerLink]="['/questions']" (click)="javascript()" class="btn">ATTEND</a>
  </div>
</div>
